@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik&display=swap');
header{
    font-family: rubik;
}
body{
    font-family: roboto;
}
footer{
    font-family: rubik;
}



/* ----------header style--------- */


/* .navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--secondary-color-orange);
  position: fixed;
  top: 0;
  width: 100%;
} */
.nav-list {
  float: left;
  margin: 0;
}
li.nav-list a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navBar li a:hover:not(.active) {
  background-color: var(--primary-color-darkBlue);
}
li a.active {
  background-color: var(--primary-color-lightBlue);
}
div.right {
  float: right;
}
.nav-items-list {
  width: 100%;
}
.header-title {
  text-align: center;
  padding: 80px 0px 80px 0px;
  font-family: var(--header-font);
  font-weight: normal;
  font-size: 4em;
  color: var(--primary-color-lightBlue);
}
/*get rid of all a tag default value----------*/
a {
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  div.right,
  ul.navBar li {
    float: none;
  }
}
._footer {
  text-align: center;
  padding: 30px;
}
/* ----------Nav Bar Code--------- */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  /* font-family: montserrat; */
}
nav {
  background: #14110F;
  height: 80px;
  width: 100%;
}

nav ul {
  float: left;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {
  background: var(--primary-color-lightBlue);
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  color: red;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #34312D;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
}

body, html{
    height: 100%;
    width: 100%;
}
/* ------------Scrolling Background Code----------- */
.parallax{
    background-image: url("/newImages/scott-goodwill-PCGYCkfNgtg-unsplash.jpg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;           
}

/* .about-section{
height:1000px;
background-color:red;
font-size:36px;
} */










  
@media only screen and (max-width: 800px) {
  .cards {
    max-width: 350px;
    height: auto;
  }
  .activity-card {
    width: 350px;
  }
  .dropdown {
    float: none;
    align-self: center;
    margin-left: 0;
  }
}
@media screen and (max-width:800px){
  .nav-items-list{ 
    overflow-y:scroll ;
}
}
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  /* font-family: "Lato; */
  font-weight: 400;
  line-height: 1.8em;
  color: #14110F;
}
 
.firstimg,
.secondimg,
.thirdimg,
.forthimg {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.7;
  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}
 
.firstimg {
  background-image: url("/newImages/scott-goodwill-PCGYCkfNgtg-unsplash.jpg");
  min-height: 100%;
}
 
.secondimg {
  background-image: url("/newImages/scott-goodwill-PCGYCkfNgtg-unsplash.jpg");
  min-height: 400px;
}
 
.thirdimg {
  background-image: url("/newImages/scott-goodwill-PCGYCkfNgtg-unsplash.jpg");
  min-height: 400px;
}
 
.forthimg {
  background-image: url("/newImages/scott-goodwill-PCGYCkfNgtg-unsplash.jpg");
  min-height: 400px;
}
 
.section {
  text-align: center;
  padding: 50px 80px;
}
 
 
.section-dark {
  background-color: #14110F;
  color: #ddd;
}
 
.text {
  position: absolute;
  top: 50%; 
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 36px;
  letter-spacing: 8px;
  text-transform: uppercase;
}
 
.text .border {
  background-color: #111;
  color: #fff;
  padding: 20px;
}
 
@media (max-width: 568px) {
  .firstimg,
  .secondimg,
  .thirdimg,
  .forthimg {
    background-attachment: scroll;
  }
}
a { 
  text-decoration: none;
 color: white;
}

.contact-link{
  height: 80px;
  width: 80px;  
}
.name-main{
  /* font-size: 4rem; */
 color: white ;
 text-decoration:underline red;
 text-underline-offset: 30%;
 text-align: center;
 padding-bottom: 1rem;
}
.whatido{
  color: white;
}
#about, #projects, #contact{
  text-decoration: underline red;
  text-underline-offset: 30%;
  text-transform: uppercase;
  /* position: absolute; */
  top: 50%; 
  /* width: 100%; */
  text-align: center;
  /* color: #000; */
  font-size: 25px;
  letter-spacing: 8px;
  text-transform: uppercase;
  padding-bottom: 2rem;
}
/* #contact{
  padding-bottom: 80px ;
}

#about{
  padding-bottom: 2rem;
} */


#main-pic{
  height: 550px;
  width: 500px;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-left: 2rem;
}
.about-container{
  display: flex;
  justify-content: space-around;
  
}
.about-text{
  width: 600px;
  text-align: left;
  padding-left: 2rem;
}
.skill-item{
  width: 10px;
  height: 10px;
}
.thumbnail{
  height: 6rem;
  width: auto;
}

/* -----------------------------------Projects Carousel------------------------- */
.project-snip{
  width: auto;
  height: 500px;
  border-radius: 10px;
}



.carousel-wrapper{
  height:500px;
  position:relative;
  width:1100px;
  margin:0 auto;
}
.carousel-item{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:25px 50px;
  opacity:0;
  transition: all 0.5s ease-in-out;
}
.arrow{
  border: solid red;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 12px;
}

.arrow-prev{
  left:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(135deg);
}
 
.arrow-next{
    right:-30px;
  position:absolute;
  top:50%;
  transform:translateY(-50%) rotate(-45deg);
  }

.light{
  color:white;
}

@media (max-width: 480px) {
      .arrow, .light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
}

/*Select every element*/
[id^="item"] {
    display: none;
  }
  .item-1, .item-2, .item-3{
    border-radius: 10px;
  }

.item-1 {
    z-index: 2;
    opacity: 1;
  background:url('/newImages/vsLogin.PNG');
  background-size:cover;
  
  }
.item-2{
  background:url('/newImages/virtualx\ snip.PNG');
   background-size:cover;
}
.item-3{
  background:url('/newImages/vxChallenges.PNG');
   background-size:cover;
}

*:target ~ .item-1 {
    opacity: 0;
  }

#item-1:target ~ .item-1 {
    opacity: 1;
  }

#item-2:target ~ .item-2, #item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }

/*--------------------------------Modal Box Email----------------------  */


